#BOUCLE
i=0
while i<=20:
    print(i)

In [3]:
##BOUCLE
i=0
while i<=20:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
#Ecrire un programme qui permet d'afficher les valeurs de 20 à 100
i=20
while i<=100:
    print(i)
    i=i+1

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
#Ecrire un programme qui permet d'afficher les multiples de 2  DE 2 à 20
i=2
while i<=20:
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20

In [3]:
#Ecrire un programme qui permet d'afficher les multiples de 2  DE 2 à 20
i=2
while i<=20:
    i=i+1   
    if i%2==0:       
        print(i)

4
6
8
10
12
14
16
18
20

In [4]:
#Les multiples de3 de 51 à 100
i=51
while i<=100:
    i=i+1   
    if i%3==0:       
        print(i)

54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [6]:
#Les nombre pair multiples de 3 de 51 à 100
i=51
while i<=100:
    i=i+1   
    if i%3==0:
        if i%2==0:
            print(i)

54
60
66
72
78
84
90
96

In [ ]:
#les nombre impair multiple de 4
i=4
while i<=100:
    if i%4==0:
        if i%2!=0:
            print(i)

In [3]:
#Afficher les nombre de 0 à 10 avec la boucle for 
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
#
for i in range (50,100):
        print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [14]:
for i in range (100):
    if i%6==0:
        print(i)

0
6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [13]:
for i in range (100):
    if i%3==0 and i%9==0:
        if i%2!=0:
            print(i)

9
27
45
63
81
99

In [30]:
#Tous les nombre premier comprise entre 0 et 100
n=int
for i in range(100):
    while n<100:
        if n%i==0:
            i=i+1           
            print(n)
            if n==2:
                print(n)

SyntaxError: invalid syntax (585517867.py, line 4)

In [32]:
#les n multiple de 2  +5
for i in range(20):
    if i%2==0:
        i=i+5
        print(i)

5
7
9
11
13
15
17
19
21
23

In [38]:
#les  multiple de 3
for i in range(100):
    if i%3==0:        
        print(i)       
        if i==66:            
            break

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66

In [44]:
for i in range (20):
    if i!=2 and i!=12:
        print(i)
    else:
        pass

0
1
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19

In [3]:
def somme(a,b):
    s=a+b
    print(s)

In [4]:
somme(5,7)
somme(100,125)
somme(10050,1578)

12
225
11628

In [12]:
def multiplication(a,b):f 
    m=a*b
    print(s)

IndentationError: unexpected indent (1662466013.py, line 2)

In [8]:
multiplication(5,7)
multiplication(100,125)
multiplication(10050,1578)

35
12500
15858900

In [10]:
def soustraction(a,b):
    sous=a-b
    print(sous)

In [11]:
soustraction(5,7)
soustraction(100,125)
soustraction(10050,1578)

-2
-25
8472

In [13]:
def division(a,b):
    div=a/b
    print(div)

In [14]:
division(5,7)
division(100,125)
division(10050,1578)

0.7142857142857143
0.8
6.3688212927756656

In [ ]:
def modulo(a,b)
return a%b

In [16]:
def factorielle(a):
    fact=1
    for i in range(1,a+1):
        fact=fact*i
    return fact

In [17]:
factorielle(5)

120

In [31]:
def fx(S):
    for i in range(1,10):
        if S!=0:
            S=S*S+i/S
    return S

In [32]:
fx(10)

inf